<% if user_signed_in? %> 
 <div> Welcome <%= current_user.email %> </div>
  <h1>Cool Events!</h1>
  <ul>
    <% @events.each do |event| %>
      <p><%= event.title %></p>
      <%= link_to "register", register_event_path(event) %>
    <% end %>
  </ul>
  <%= button_to "Sign out", destroy_user_session_path, method: :delete %> 
<% else %>
  <%= button_to "Sign in", new_user_session_path %> 
<% end %>